.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(36, 43, 180);
    padding: 0 7rem;
    font-size: 1.8rem;
}

.menu-container {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.search-bar {
    background-color: transparent;
    border: 1px white solid;
    width: 20rem;
    height: 4rem;
    color: white;
    font-size: 1.75rem;
    border-radius: 10px;
    padding: 0 .75rem;
    outline: none;
}


.search-bar::placeholder {
    color:whitesmoke;
    opacity: .3;
}

.menu-items_container {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 7rem;
    width: 12rem;
}

.menu-item:hover {
    background-color: rgb(20, 28, 180);
}