.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    font-weight: 500;
    font-size: 3rem;
}

.date {
    font-size: 1.5rem;
}

.search-icon_container {
    background-color: white;
    padding: 1rem;
    border-radius: 100px;
    cursor: pointer;
}

.search-bar_container {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.search-close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  

.search-bar {
    background-color: transparent;
    border: 1px white solid;
    width: 25rem;
    height: 4rem;
    color: white;
    font-size: 1.75rem;
    border-radius: 10px;
    padding: 0 .75rem;
}


.search-bar::placeholder {
    color:whitesmoke;
    opacity: .3;
}