.container {
  width: 60%;
  margin: 2rem auto 0;
}

.current-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .5rem;
  margin: 3rem auto 2.5rem;
}

.line {
  position: absolute;
  height: 16rem;
  width: .1rem;
  background-color: white;
}

.section-title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.hourly-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.not-found_container, .error-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  font-size: 3rem;
  gap: 1rem;
}

.error-container {
  color:#c51244;
}

.not-found_button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  width: 10rem;
  padding: .5rem 0;
  border-radius: 5px;
  font-size: 2rem;
}

.not-found_button:hover {
  background-color: rgba(23, 7, 112, .5);
}

.loading-container {
  width: 10rem;
  margin: 10rem auto;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1300px){
  .container {
      width: 60%;
    }
  }

  @media screen and (min-width: 2100px){
    .container {
        width: 50%;
      }
    }

@media screen and (max-width: 1000px){
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 750px){
  .hourly-container {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 550px){
  .current-container {
    flex-direction: column;
  }

  .container {
    width: 85%;
  }

  .line {
    height: .1rem;
    width: 100%;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 450px){
.container {
    width: 90%;
  }
}