.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 12rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
}

.temperature {
    font-size: 6rem;
}

.description {
    font-size: 1.5rem;
}

.description::first-letter {
    text-transform: uppercase;
}

.celsius-sign {
    font-size: 4rem;
    vertical-align: top;
}