.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 2rem;
    align-content: space-evenly;
}

@media screen and (max-width: 550px){
    .container {
      gap: 2rem;
    }
  }