.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: space-evenly;
    row-gap: 2rem;
    margin-left: 2.5rem;
}

@media screen and (max-width: 600px) {
    .container {
        margin-top: 1rem;
        column-gap: 7rem;
    }
}

@media screen and (max-width: 500px) {
    .container {
        column-gap: 2.5rem;
    }
}

@media screen and (max-width: 410px) {
    .container {
        column-gap: .75rem;
    }
}