.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: space-evenly;
    row-gap: 2rem;
    margin-left: 2.5rem;
}

@media screen and (max-width: 550px){
    .container {
      gap: 2rem;
    }
  }